---
import Carrusel from "../Carrusel";

const personalImageAlt = "Ayelmer Corzo";
---

<article class="flex flex-col-reverse md:flex-row items-center justify-between gap-8 md:gap-16 px-4 py-12">
  <div class="flex-1 space-y-2 text-gray-700 dark:text-gray-300">
    <p class="text-lg leading-relaxed">
      ¡Hola! Soy <span class="text-yellow-600 dark:text-yellow-400 font-semibold">Ayelmer Corzo</span>, pero me conocen como <span class="text-yellow-600 dark:text-yellow-400 font-semibold">Alan</span>. Hace un año, 
      descubrí mi pasión por la programación y desde entonces he estado inmerso en este fascinante mundo.
    </p>
    <p class="text-lg leading-relaxed">
      Actualmente, estoy <span class="text-yellow-600 dark:text-yellow-400 font-semibold">finalizando mi formación como Desarrollador Web Full Stack Junior</span>, 
      consolidando mis habilidades para crear soluciones digitales innovadoras que marquen la diferencia.
    </p>
    <p class="text-lg leading-relaxed">
      Como futuro Ingeniero de Sistemas, inicié mi formación universitaria en 2025 en la 
      <span class="text-yellow-600 dark:text-yellow-400 font-semibold">Universidad Nacional Abierta y a Distancia (UNAD)</span>. 
      Mi enfoque principal es el crecimiento continuo, tanto personal como profesional, con el objetivo 
      de superarme constantemente y contribuir al mundo de la tecnología con soluciones impactantes.
    </p>
  </div>

  <Carrusel client:load />
</article>

<style>
  article {
    scroll-margin-top: 100px;
  }
  
</style>
