---
const personalImageAlt = "Ayelmer Corzo";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Ayelmer Corzo, aunque prefiero que me llamen Alan. Hace un
      año descubrí mi pasión por la programación, y desde entonces he estado
      inmerso en este mundo. Actualmente, estoy <strong
        >finalizando mi formación como Desarrollador Web Full Stack</strong
      >, consolidando mis habilidades para crear soluciones digitales
      innovadoras.
    </p>

    <p>
      Como futuro Ingeniero de Sistemas, inicié mi formación universitaria en
      2025 en la <strong
        >Universidad Nacional Abierta y a Distancia (UNAD)</strong
      >. Mi enfoque principal es el crecimiento continuo, tanto
      personal como profesional, con el objetivo de superarme constantemente y
      contribuir al mundo de la tecnología con soluciones impactantes.
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="https://i.ibb.co/nM0007GK/alan2.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
