---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
    {
      date: "Noviembre 2024",
      title: "Full Stack Developer",
      company: "Campuslands",
      description:
        "Participé activamente en el desarrollo de una aplicación web, formando parte de ambos equipos: frontend y backend. Mi rol en ambos equipos me permitió tener una visión integral del proyecto y garantizar una integración fluida entre las dos áreas. ",
    },
  {
    date: "Actualmente...",
    title: "Gestion TI",
    company: "Arroz Gelvez",
    description:
    // cambio de desripcion por el momento puede ir de esta manera
      "Aux Transformacion Digital para Grupo Gelvez",
  },
  {
    date: "...",
    title: "Creador de Contenido",
    company: "Tiktok",
    description:
      "Divulgo sobre programación y desarrollo web en diferentes plataformas.",
    link: "https://www.tiktok.com/@ayelmercorzo?is_from_webapp=1&sender_device=pc",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>